<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TESTTTTRTFlask Boggle</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>

  <table class="hidden">
    {% for row in board %}
    <tr>{% for letter in row %}
      <td>{{letter}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <form id="wordsubmit" class="active hidden">
    <input id="wordinput" type="text" name="word">
    <button>Submit</button>
  </form>

 <button id="play">Start</button>
 <button id="playagain" class="hidden">Play Again</button> 
<p id= "displaymessage"></p>
<p id="displayscore"></p>
<p id="displaytimer"></p>

</body>

<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/boggle.js"></script>
</html>