<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TESTTTTRTFlask Boggle</title>
</head>

<body>

  <table>
    {% for row in board %}
    <tr>{% for letter in row %}
      <td>{{letter}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <form id="wordsubmit">
    <input id="wordinput" type="text" name="word">
    <button>Submit</button>
  </form>

  
<p id= "displaymessage"></p>


</body>

<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/boggle.js"></script>
</html>